@font-face {
    font-family: "Irregardless";
    src:
        local("Irregardless"),
        url("/assets/fonts/Irregardless-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Irregardless";
    src:
        local("Irregardless"),
        url("/assets/fonts/Irregardless-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    --color-dark: #222;
    --color-chili: #f34900;
    --color-verylightred: #fffcfa;
    --color-imblue: oklch(64.42% 0.17 247.926);
    --color-imblue-light: oklch(64.42% 0.17 247.926 / 0.25);

    --bg-color: var(--color-verylightred);
    --page-title-color: var(--color-chili);

    --spacing-s: 1rem;

    --border-width-min: 0.0625rem;
    --border-corners: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgZmlsbD0ibm9uZSI+PGcgc3Ryb2tlPSIjMkQ5MkU0IiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0uNS41aDd2N2gtN3pNLjUgOS41aDd2N2gtN3pNOS41LjVoN3Y3aC03ek05LjUgOS41aDd2N2gtN3oiIHN0eWxlPSJmaWxsOiNmZmY7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOiMyZDkyZTQ7c3Ryb2tlOmNvbG9yKGRpc3BsYXktcDMgLjE3NTMgLjU3MjIgLjg5NTkpO3N0cm9rZS1vcGFjaXR5OjEiLz48cGF0aCBkPSJNOCA0aDFNOCAxM2gxTTQgOVY4TTEzIDlWOCIgc3R5bGU9InN0cm9rZTojMmQ5MmU0O3N0cm9rZTpjb2xvcihkaXNwbGF5LXAzIC4xNzUzIC41NzIyIC44OTU5KTtzdHJva2Utb3BhY2l0eToxIi8+PC9nPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMGgxN3YxN0gweiIgc3R5bGU9ImZpbGw6I2ZmZjtmaWxsLW9wYWNpdHk6MSIvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPgo=)
        8 / 8px / 4px round;
}

body {
    --spacing: var(--spacing-s);
    font-synthesis: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: var(--bg-color);
    color: var(--color-dark);
    display: grid;
    gap: 2rem;
    font:
        normal 1rem/1.5 system-ui,
        sans-serif;
    margin: 0;
    padding: var(--spacing);
}

.grid {
    display: grid;
    grid-template-columns: [full-start left-start] 1fr [content-start left-end] fit-content(70ch) [content-end] 1fr [full-end];
    grid-template-rows: [full-start top-start] auto [content-start top-end] 1fr [content-end full-end];
}

a {
    color: #118600;
    font-weight: 600;
    text-decoration-thickness: 1px;
    transition: all 100ms ease-in;
}
a:hover {
    color: var(--color-chili);
    text-decoration-thickness: 2px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: "Irregardless";
    font-style: italic;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    font-size: 2.5625rem;
}

.has-corners {
    border-image: var(--border-corners);
}

.flow :is(h2, h3, h4, h5, h6) {
    color: var(--color-imblue);
    margin-block: 0;
}

.flow > * + *:not(cor-ner) {
    margin-block-start: 1rem;
    margin-block-end: 0;
}

/* Content */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(2rem, 0.1176rem + 9.4118vi, 6rem);
}
#avatar {
    margin: 2rem 0;
    transform: rotate(-4deg);
}

#avatar::before {
    content: "";
    border: 1px solid transparent;
    border-image: var(--border-corners);
    position: absolute;
    inset: 0;
    pointer-events: none;
}

#avatar img {
    width: clamp(100px, 40vw, 200px);
}

h1#page-title {
    color: var(--page-title-color);
    font-size: clamp(4rem, 2.1176rem + 9.4118vi, 8rem);
    font-weight: 900;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: var(--color-imblue);
    text-decoration-thickness: 5px;
}

#main-content {
    --spacing: var(--spacing-s);
    background: #fff;
    max-width: 655px;
    padding: var(--spacing);
    place-self: start center;
}

footer {
    place-self: start;
}

footer p {
    font-size: 0.75rem;
    margin: 0;
    opacity: 0.5;
}
