@font-face {
  font-family: "Irregardless";
  src:
    local("Irregardless"),
    url("/assets/fonts/Irregardless-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/assets/fonts/applegaramond-light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("/assets/fonts/applegaramond.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("/assets/fonts/applegaramond-bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --ac: #fe5100;
  background: var(--ac);
  color: #410;
  font:
    clamp(1em, 0.9em + 1vw, 1.5em) / 1.5 "Apple Garamond",
    Georgia,
    serif;
  font-synthesis: none;
}
body {
  background: #fff;
  border: 3px solid var(--ac);
  border-radius: 2.5em;
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 2em;
}

main {
  margin-inline: auto;
  max-width: 650px;
  text-align: center;
}

a {
  color: var(--ac);
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.1em;
}

h1 {
  font-size: clamp(3em, 3em + 1vw, 4em);
  font-weight: 900;
  line-height: 0.8;
  text-align: center;
  overflow-wrap: break-word;
}
h1 span {
  display: block;
  font-weight: 700;
}

img {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 200px;
  width: 100%;
  border-radius: 1.5em;
}

#intro {
  font-size: 125%;
}
main > * + * {
  margin-top: 1.5rlh;
}

html::after {
  content: "";
  display: block;
  height: 2em;
}
